 {% extends 'base.html'%} {% import 'macros.html' as macro %} {% block styles%} {{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}"> {% endblock %} {% block content %}

<div class="container">
    <h1 class="text-center" style="color: dodgerblue;; font-weight: bolder;"> Welcome To Pitches</h1>
    <div class="row">
        {% for post in posts %}
        <!-- <div class="col-md-5"></div> -->
        <div class="col-md-6 text-center">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <h5>Title : {{ post.title }}</h5>
                </div>
                <div class="panel-body text-start">
                    <h5>Category : {{ post.category }}</h5>
                    <h5>Content : {{ post.content }}</h5>
                    <p>Posted on : {{post.date_posted.strftime('%Y-%m-%d')}}</p>
                    <p>Posted by : {{post.user.username}}</p>
                </div>
                <div class="panel-footer">
                    <a href="{{ url_for('main.post_details', id = post.id)}}"><button class="btn-success">Add a
                            comment</button></a>


                    <div class="col-md-4 upvote">
                        <span class="foot"> <a href="{{url_for('main.like',id = post.id)}}"><button class="btn-success">Upvotes:{{post.upvote.count()}}</button></a></span>
                    </div>
                    <div class="col-md-4 downvote">
                        <span class="foot"> <a href="{{url_for('main.dislike',id = post.id)}}"> <button class="btn-danger">Downvotes:{{post.downvote.count()}}</button></a></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="col-md-3"></div> -->
        {% endfor %}
    </div>
</div>

{% block footer %}
<div class="footer-dark" style="position: fixed; bottom: 5px;width: 100%;">
    <footer style="background-color: black; ">
        <div class="container ">
            <div class="row ">
                <div class="col-sm-6 col-md-3 item ">
                    <h3>Services</h3>
                    <ul>
                        <li>
                            <a href="#">Pitches-Hub</a>
                        </li>
                        <li><a href="#">Development</a></li>
                        <li><a href="#">Hosting</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>About</h3>
                    <ul>
                        <li><a href="#">Company</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Careers</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>Pitches-Hub</h3>
                    <p>Pitch strikes the perfect balance between design guardrails and flexibility. It brings everything a User expect in a modern collaboration tool to presentations and it’s awesome</p>
                </div>
            </div>
            <p class="copyright ">Pitches-Websites © 2022</p>
        </div>
    </footer>
</div>
{% endblock footer %}

<br> {% endblock%}